{% extends "base.html" %}
{% block title %}Cattle Form | Cattle Care{% endblock %}
{% block page_title %}{{ 'Edit Cattle' if cattle else 'Add Cattle' }}{% endblock %}

{% block content %}
<div class="panel-card col-lg-8 mx-auto">
    <form method="POST" enctype="multipart/form-data">
        <div class="row g-3">
            <div class="col-md-6">
                <label class="form-label">Cattle ID</label>
                <input type="text" name="cattle_tag" class="form-control" value="{{ cattle.cattle_tag if cattle else '' }}" required>
            </div>
            <div class="col-md-6">
                <label class="form-label">Breed</label>
                <input type="text" name="breed" class="form-control" value="{{ cattle.breed if cattle else '' }}" required>
            </div>
            <div class="col-md-6">
                <label class="form-label">Age</label>
                <input type="number" name="age" class="form-control" value="{{ cattle.age if cattle else '' }}" required>
            </div>
            <div class="col-md-6">
                <label class="form-label">Weight (kg)</label>
                <input type="number" step="0.01" name="weight" class="form-control" value="{{ cattle.weight if cattle else '' }}" required>
            </div>
            <div class="col-12">
                <label class="form-label">Photo</label>
                <input type="file" name="photo" class="form-control">
            </div>
            <div class="col-12">
                <button class="btn btn-primary">Save</button>
                <a href="{{ url_for('cattle.list_cattle') }}" class="btn btn-light">Cancel</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}