{% extends "base.html" %}
{% block page_title %}Devices{% endblock %}

{% block content %}

<div class="panel-card">

    <div class="d-flex justify-content-between mb-4">
        <h4>Connected IoT Devices</h4>

        <a href="/devices/add" class="btn btn-primary">
            <i class="fa fa-plus"></i> Add Device
        </a>
    </div>

    <div class="row g-4">

        {% for d in devices %}

        <div class="col-md-6 col-lg-4">

            <div class="device-card">

                <div class="device-top">
                    <i class="fa fa-microchip"></i>
                    <span class="badge bg-success">{{ d.status }}</span>
                </div>

                <h5>{{ d.device_name }}</h5>

                <p class="text-muted">{{ d.device_details }}</p>

                <hr>

                <div><strong>Device ID:</strong> {{ d.device_id }}</div>
                <div><strong>Serial:</strong> {{ d.device_serial }}</div>
                <div><strong>Assigned Cow:</strong> {{ d.cattle.cattle_tag }}</div>

            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}